.book {
  display: grid;
  display: flex;
  grid-column-gap: 30px;
  margin: 70px 30px;
}

article {
  margin-top: -20px;
}

button {
  height: 25px;
  width: 50px;
  margin: 5px;
  background-color: crimson;
  border-radius: 5px;
  border: none;
  color: aliceblue;
}